body{
  background-color: #d9d9d9;
}

table{
  border-spacing: 6px;
}
table tbody tr, table tbody tr:nth-child(even){ background-color: #fff; }

tr.salles th:nth-child(n+2){
  color: #9e8443;
  background-color: black;
  text-transform: uppercase;
}

tr.seances th{
  background: #fff url(images/background-calendrier.png) no-repeat center;
}

.none{
  background: #d9d9d9 url(images/background-pas-de-seances.png) no-repeat center;
}

.booked{
  background-color: #ebc27c;
}

.already_booked{
  background-color: #c6c6c6;
}

.seance button{
  cursor: pointer;
}

.heure{
  background: url(images/picto-horaire.png) no-repeat;
  background-size: contain;
  padding-left: 20px;
}

.status{
  display: inline-block;
}

.question{
  background: url(images/picto-question.png) no-repeat;
  background-size: contain;
  padding-left: 20px;
  margin-left: 5px;
}

.attente{
  background: url(images/picto-demande-en-attente.png) no-repeat;
  background-size: contain;
  padding-left: 25px;
}

.red-circle{
  text-align: center;
}
.red-circle span{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 20px;
  display: inline-block;
}